WNS_VM_HOST=0.0.0.0
WNS_EMBEDDING_PORT=5000
EMBEDDING_DEVICE=auto

JINA_EMBEDDING_MODEL=jinaai/jina-embeddings-v3
JINA_API_KEY=

GTE_EMBEDDING_MODEL=Alibaba-NLP/gte-multilingual-base
HF_TOKEN=

EMBEDDING_BATCH_SIZE=32

POSTGRES_USER=wns
POSTGRES_PASSWORD=wns_password
POSTGRES_DB=wns_benchmark

QDRANT_URL=http://127.0.0.1:5001
PGVECTOR_DSN=postgresql://wns:wns_password@127.0.0.1:5003/wns_benchmark
WEAVIATE_URL=http://127.0.0.1:5004
